<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="container">
<h1 class="text-center my-2 p-2">See All Skills</h1>
<a class="btn btn-info my-2 p-2" href="/">Go Back</a>
<% skills.forEach((s)=>{ %>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">Avatar</th>
                <th scope="col">Name</th>
                <th scope="col">Skills</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"><a href="/skills/<%=s.id%>"><%= s.id%></a></th>
                <td><img  style="height: 10vh;"src=<%=s.image%> alt="<%=s.name%>"></td>
                <td><%= s.name%></td>
                <td><%= s.skill%></td>
            </tr>
            <%})%>
        </tbody>
    </table>
    <div class="text-center">
        <a class="btn btn-outline-success my-2 p-2" href="/skills/new">Add Skill</a>
    </div>
    </div>
<%- include('../partials/footer') %>